doctype html
html
    head
        title Planning tool for Roon QA Department 123
        link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand.navbar-light.bg-light
          a.navbar-brand(href="/") QA Routine
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/task/create") Add New
            li.nav-item
              a.nav-link(href="/tasks/list") List All
        .container
          .mt-1
            block content
