extends ../layouts/main.pug

block content
  div
    if tasks.length > 0
      table.table
        tr
          th Title
          tl Actions
        for task in tasks
          tr
            td
              a(href=`/task/${task.id}`)= task.date
            td
              a(href=`/task/${task.id}/edit`)
    else
    |  Empty
